<div>
    <div class="background"></div>

    <div class="card">

        <div class="header">
            <!-- El select puede utilizarse con clases, atributos, etc-->
            <ng-content select="[header]"></ng-content>
        </div>

        <div class="message">
            <ng-content></ng-content>
        </div>

        <div class="footer">
            <!-- Selecciona los buttons con la etiqueta -->
            <ng-content select="button"></ng-content>
        </div>
    </div>

</div>