<div>
    <app-tabs>
        <app-tab title="Timers">
            <app-timer *ngFor="let timer of timers" init="{{timer}}" (onComplete)="showEndTimerAlert()"></app-timer>

            <button class="add" (click)="showAddTimer()">+</button>
        </app-tab>

        <app-tab title="Crono">
            Crono
        </app-tab>

        <app-tab title="Alarm">
            Alarm
        </app-tab>
    </app-tabs>

    <app-alert-view [hidden]="!isAddTimerVisible">

        <div header>
            Add timer
        </div>

        <label>Set the number of seconds for your timer</label>
        <input #timerInput [(ngModel)]="time" type="number">

        <button (click)="hideAddTimer()" class="cancel-button">Cancel</button>
        <button (click)="submitAddTimer()">Ok</button>

    </app-alert-view>

    <ng-container #alert></ng-container>

    <!--
    Creamos una plantilla con ng-template 
    <ng-template #timeEndTemplate let-message let-title="title">
        <app-simple-alert-view [title]="title" [message]="message"></app-simple-alert-view>
    </ng-template>

     Utilizamos dicha plantilla 
     Utilizamos implicit porque no hemos definido como se debe de llamar message 
    <ng-container [ngTemplateOutlet]="timeEndTemplate" [ngTemplateOutletContext]="{
        title: 'Game over', $implicit: 'timer ended'
    }"></ng-container>
    -->

</div>